---
// src/pages/en/index.astro
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact  from '../components/Contact.astro';
import Footer from '../components/Footer.astro'
import MainLayout from '../layouts/MainLayout.astro';
import ProjectDrawer from '../components/ProjectDrawer.astro';
---
<meta http-equiv="refresh" content="0;url=/en/" />
<MainLayout>
<div class="space-y-24 mb-24">
    <Experience />
    <ProjectDrawer />
    <Projects />
    <Skills />
    <Contact />
    <Footer />
    
    </div>
</MainLayout>
<script is:inline>
  // This detects the browser language and sends them to the right version
  const lang = window.navigator.language.split('-')[0];
  if (lang === 'es') {
    window.location.pathname = '/es/';
  } else {
    window.location.pathname = '/en/';
  }
</script>