---
// src/pages/en/index.astro
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact  from '../components/Contact.astro';
import Footer from '../components/Footer.astro'
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
<div class="space-y-24 mb-24">
    <Experience />
    <Projects />
    <Skills />
    <Contact />
    <Footer />
    
    </div>
</MainLayout>