---
const currentYear = new Date().getFullYear();
---

<footer class="w-full py-20 border-t border-accent/10 mt-20">
  <div class="max-w-7xl mx-auto px-4 flex justify-center items-center">
    <p class="text-zinc-700 text-[9px] uppercase tracking-[0.5em] font-bold text-center">
      © {currentYear} — ALL RIGHTS RESERVED
    </p>
  </div>
</footer>